<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Derrotado's Delivery Service</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <header>
        <h1><a class="text-header" href="/">Derrotado's Delivery Service</a></h1>
    </header>
    <nav>
        <a href="/" class="cabecalho">Restaurantes</a>
        <a href="{% url 'motoboys' %}" class="cabecalho">Motoboys</a>
        <a href="{% url 'pedido' %}" class="cabecalho">Fazer Pedido</a>
        <a href="{% url 'cadastros' %}" class="cabecalho">Cadastros</a>
    </nav>
    <main>
        <br>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>