{% extends 'delivery/base.html' %}

{% block content %}
    <h2 class="list-restaurant"> {{ restaurante.nome_restaurante }} </h2>
    <p class="list-restaurant">CNPJ: {{ restaurante.cnpj }}</p>
    <h3>Cardápio:</h3>
    <section>
        {% for comida in comidas %}
            <h4>{{ comida.nome_comida }}</h4>
            <p>R$ {{ comida.preco }}</p>
        {% endfor %}
    </section><br>
    <h3>Motoboys do {{ restaurante.nome_restaurante }}:</h3>
    <section>
        {% for motoboy in motoboys %}
            <h4>{{ motoboy.nome_motoboy }}</h4>
            <p>Placa: {{ motoboy.placa }}</p>
        {% endfor %}
    </section>
{% endblock %}