{% extends 'delivery/base.html' %}

{% block content %}
    <br/>
    <section class="list-restaurant">
        <h2>Restaurantes</h2><br/>
        <div class="listagem">
            {% for restaurante in restaurantes %}
                <div>
                    <h3><a class="text-restaurant" href="{% url 'detalhes_restaurante' pk=restaurante.pk %}">{{ restaurante.nome_restaurante }}</a></h3>
                </div>
            {% endfor %}
        </div>
        <br><br><br><br><a href="{% url 'cadastro_restaurante' %}">Cadastrar Restaurante</a>
    </section>
    
{% endblock %}